@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 50px;
  color: #191819;
  font-weight: 300;
  margin-bottom: 30px;
}

.container {
  max-width: 1170px;
}
